# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# Dependency directories
bower_components/

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Temporary files
tmp/
temp/

# Ignore package lock files if you don't want them in git
# package-lock.json