h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

body {
    text-align: center;
}

html {
    background-color: black;
}

img {
    border: 5px solid white;
    margin: 50px;
}